*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}
body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(113,113,172,1) 35%, rgba(53,101,175,0.7484419793307948) 46%, rgba(128,189,213,1) 77%, rgba(0,212,255,1) 100%);
}
header{
    max-width: 1920px;
    max-height: 126px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.head{
    display: inline-block;
    margin-left: 5%;
    vertical-align: middle;
    margin-top: 41px;
}
.head h1 {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}
.head img {
    display: inline-block;
    vertical-align: middle;
    width: 44px;
    height: 44px;
}
.head_icons{
    display: inline-block;
    vertical-align: middle;
    right: 140px;
    margin-top: 48px;
}
.head_icons img{
    width: 20px;
    height: 20px;
    margin-left: 20px;
}
.container{
    max-width: 1920px;
    max-height: 126px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    
    
}
.searchbox{
    height: 87px;
    width: 85%;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 62px;
    margin-bottom: 20px;
}
.minisearchicon{
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
    max-width: 100%;
    height: auto;
    opacity: 0.8;
}

.slider{
    top: 50%;
    transform: translateY(-50%);
    left: 60%;
    max-width: 100%;
    height: auto;
    cursor: pointer;
}
.after{
    height: 100%;
    left: 66%;
    width: 1px;
    background-color: #000000;
}
.afterr{
    height: 100%;
    left: 90%;
    width: 1px;
    background-color: #000000;
}
.searchtxt{
    font-family: cursive;
    max-width: 100%;
    height: auto;
    line-height: 38px;
    color: #000000;
    left: 68%;
    top: 50%;
    transform: translateY(-50%);

}

.searchicon{
    top: 50%;
    transform: translateY(-50%);
    left: 94%;
}
.searchbox input{
    font-family: 'FiraGO';
    font-style: normal;
    font-weight: 200;
    font-size: 32px;
    line-height: 38px;
    color: #000000;
    top: 50%;
    transform: translateY(-50%);
    left: 74px ;
    opacity: 0.8;
    border: none;
    width: 60%;
    height: 90%;
}
.box{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 30px;
    justify-content: center;
}
.smallbox{
    padding-bottom: 20px;
    width: 392px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 30px;
}
.buisnasmannphoto{
    width: 340px;
    height: 284px;
    border-radius: 30px;
    margin: 15px  27px ;

}
.hearticon{
    top: 35px;
    left: 318px;
}
.box h3{
    font-family: 'Inter';
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-left: 50px;
    display: inline-block;
    vertical-align: middle;
}
.dollaricon{
    display: inline-block;
    vertical-align: middle;
    width: 9px;
    height: 14px;
    margin-left: 105px;
    margin-top: 2px;
}
.box p{
    display: inline-block;
    vertical-align: middle;
    margin-left: 120px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 15px;
    color: #000000;
    margin-top: 2px;
}
.fee{
    display: inline-block;
    vertical-align: middle;
    margin-left: 150px; 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}
.box h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-left: 50px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 5px;
}
.location{
    display: inline-block;
    vertical-align: bottom;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 13px;
    line-height: 12px;
    opacity: 0.8;
    margin-left: 5px;
}
.staricon{
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    margin-left: 96px;
}
.box h1{
    display: inline-block;
    vertical-align: middle;
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    
}
.item{
    width: 225px;
    height: 50px;
    margin-left: 83px;
    margin-top: 30px;
    background: #087DBF;
    border-radius: 25px;
    cursor: pointer;
}
.item img{
    vertical-align: middle;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.item h1{
    vertical-align: middle;
    display: inline-block;
    color: white;
    font-size: 20px;
    line-height: 24px;
    top: 50%;
    transform: translateY(-50%);
    margin-left:50px ;    
}
#myDIV{
    background-color: #fafafa;
    z-index: 3;
    top: 87px;
    left: 75%;
    transform: translateX(-10%);
    opacity:0;
    transition: all 1s linear;
    width: 394px;
    height: 256px;
    border-radius: 0px 0px 25px 25px;
}
input:focus{
    outline: none;
}
.searcharrow{
    top: 50%;
    transform: translateY(-50%);
    left: 82%;
    cursor: pointer;
}

#myDIV div{
    width: 100%;
    height: 33%;
    background-color: white;
    z-index: 14;
    border-bottom: 1px solid black ;
    padding-left: 20px;
    display: flex;

}
#myDIV div img{
    width: 30px;
    height: 30px;
    margin-top: 20px;
}
#myDIV div h6 {
    margin-top: 16px;
    left: 70px;
    font-size: 16px;
}
#myDIV div span{
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: #929292;
    margin-top: 44px;
    left: 70px;

}
#myDIV div:hover{
    background-color: #087DBF;
    transition: all 0.5s linear;
    left: 1%;
    top: 1%;
    bottom: 1%;
    width: 98%;
    border-radius: 10px;
    cursor: pointer;

}
#myDIV div:last-child{
    border-radius: 0px 0px 25px 25px;
}
/* absolute class */
.minisearchicon, .slider, .after, .afterr, .searchtxt, .searchicon,
input, .hearticon, .dollaricon, .box p, .item img,  .item h1, 
#myDIV,  .searcharrow, #myDIV div h6, #myDIV div span, .head_icons, #filter_box {
    position: absolute;
}
/* relative class */    
#myDIV div, .item, .smallbox, .searchbox, .head{
    position: relative;
}
#filter_box{
    width: 60%;
    height: 500px;
    margin-top: 20px;
    top: 100%;
    left: 2%;
    background-color: #ffffff;
    opacity: 0;
    z-index: 16;
    border: 1px solid #000000;
    border-radius: 20px;
    padding-top: 27px;
    padding-left: 20px;
    overflow-y: scroll;
    transition: all 0.5s linear;
    
}
#filter_box::-webkit-scrollbar {
    width: 10px;
  }

#filter_box::-webkit-scrollbar-track {
    background: orange;  
    border-radius: 17px; 
  }
#filter_box::-webkit-scrollbar-thumb {
    background-color: blue;  
    border-radius: 20px; 
    border: 3px solid orange;
  }
#filter_box h5{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}
#filter_box span{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
    padding: 5px;
}
.text_box {
    background-color: #ffffff;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid #087DBF;
    border-radius: 10px;
    
}
.text_box:hover{
    background-color: #087DBF;
    transition: all 0.5s ;
    border: 1px solid #087DBF;
    border-radius: 10px;
    color: white;
}
#filter_box div{
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
}
.card {
    width: 80%;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    padding-left: 10%;

}
  
.price{
    color: #000;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}
  
.price-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 30px;
  }
  
label {
    font-size: 20px;
    font-weight: 500;
  }
  
.range-slider {
    background-color: #D9D9D9;
    width: 100%;
    position: relative;
    margin: 15px 0 30px 0;
  }
  
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    background: transparent; 
    position: absolute;
    left: 0;
  }
  
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 3px solid #087DBF;
    background: #D9D9D9;
    cursor: pointer;
    margin-top: -5px;
    position: relative;
    z-index: 1;
  }
  
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 14px;
    background: #D9D9D9;
    border-radius: 13px;
    border: none;
  }
.raiting_box{
    display: flex;
    flex-wrap: wrap;

}
.raiting_box div{
    width: 77px;
    height: 43px;
    border: 1px solid #087DBF;
    border-radius: 21.5px;
    margin-left: 20px;
    margin-bottom: 10px;
    padding-left: 14px;
    position: relative;
}
.raiting_box div:first-child{
    margin-left: 0px;

}
.raiting_box img{
    display: flex;
    color: wheat;

}
.raiting_box span{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}
.raiting_box div:hover{
    background-color: #087DBF;
    transition: all 0.5s;
    cursor: pointer;
}
.whitestar_icon{
    position: absolute;
}
.location_box div{
    background: #FFFFFF;
    border: 1px solid #087DBF;
    border-radius: 10px;
    width: 106px;
    height: 35px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    cursor: pointer;
}
.location_box span{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-left: 50%;
    transform: translateX(-50%);

}
.location_box div:hover {
    background-color: #087DBF;
    color: white;
    transition: all 0.5s;
}
.seacrh_filter_box {
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    font-weight: 200;
    font-size: 25px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 20px;
}
.seacrh_filter_box div{
    margin-right: 20px; 
    width: 92px;
    height: 45px;
}
.seacrh_filter_box div:hover{
    background: #FFFFFF;
    border: 1px solid #087DBF;
    border-radius: 10px;
    transition: all 0.3s;
}
.seacrh_filter_box span{
    align-items: center;
    display: flex;
    justify-content: center;
}
